<table class="border border-gray-400 border-collapse">
  <!-- title  -->
  <thead>
    <tr>
      <th>
        <input type="text" [(ngModel)]="nameBudget" />
      </th>
      <th>
        <div class="flex justify-start">
          <input
            type="month"
            id="start"
            [max]="endDate()"
            [(ngModel)]="startDate"
          />
        </div>
      </th>
      <th>
        <div class="flex justify-start">
          <input
            type="month"
            id="end"
            [min]="startDate()"
            [(ngModel)]="endDate"
          />
        </div>
      </th>
    </tr>
  </thead>
  <!-- body  -->
  @for(item of budgetTable(); track $index){ @for (income of item.incomes; track
  $index) {
  <tbody>
    <!-- Income  -->
    <tr>
      <th colspan="3" class="text-left">Income</th>
    </tr>
    @for (category of income.categories; track $index) {
    <tr>
      <th>
        {{ category.header.title }}
      </th>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="category.header.start" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="category.header.end" />
      </td>
    </tr>
    <!-- body -->
    @for (child of category.children; track $index) {
    <tr>
      <td>
        <input type="text" [(ngModel)]="child.title" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="child.start" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="child.end" />
      </td>
    </tr>
    }
    <!-- Add new row -->
    <ng-container *ngTemplateOutlet="addRow; context: {'param':'Add a new ‘'+category.header.title+'’ Category'}"></ng-container>
    <!-- footer -->
    <tr>
      <td>
        {{category.footer.title}}
      </td>
      <td class="text-right">
        {{category.footer.start}}
      </td>
      <td class="text-right">
        {{category.footer.end}}
      </td>
    </tr>
    <ng-container *ngTemplateOutlet="emptyRow"></ng-container>
    }
    <!-- Expenses  -->
    <tr>
      <th colspan="3" class="text-left">Expenses</th>
    </tr>
    @for (expense of item.expenses; track $index) { @for (category of
    expense.categories; track $index) {
    <!-- header  -->
    <tr>
      <th>
        {{ category.header.title }}
      </th>
      <td>
        <input type="number" min="0" min="0" class="text-right" [(ngModel)]="category.header.start" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="category.header.end" />
      </td>
    </tr>
    <!-- body -->
    @for (child of category.children; track $index) {
    <tr>
      <td>
        <input type="text" [(ngModel)]="child.title" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="child.start" />
      </td>
      <td>
        <input type="number" min="0" class="text-right" [(ngModel)]="child.end" />
      </td>
    </tr>
    }
    <!-- Add new row -->
    <ng-container *ngTemplateOutlet="addRow; context: {'param':'Add a new ‘'+category.header.title+'’ Category'}"></ng-container>
    <!-- footer -->
    <tr>
      <td>
        {{category.footer.title}}
      </td>
      <td class="text-right">
        {{category.footer.start}}
      </td>
      <td class="text-right">
        {{category.footer.end}}
      </td>
    </tr>
    <ng-container *ngTemplateOutlet="emptyRow"></ng-container>
    } }
  </tbody>
  } } @if (budgetTable().length) {
  <tfoot>
    <tr>
      <th>Profit / Loss</th>
      <td class="text-right">12345</td>
      <td class="text-right">20000</td>
    </tr>
    <tr>
      <th>Opening Balance</th>
      <td class="text-right">12345</td>
      <td class="text-right">20000</td>
    </tr>
    <tr>
      <th>Closing Balance</th>
      <td class="text-right">12345</td>
      <td class="text-right">20000</td>
    </tr>
  </tfoot>
  }
</table>
<!-- Template  -->
<ng-template #emptyRow>
  <tr class="h-6">
    <td></td>
    <td></td>
    <td></td>
  </tr>
</ng-template>
<ng-template #addRow let-param="param">
  <tr class="font-medium h-6">
    <td>
      <ng-container *ngIf="param">{{ param }}</ng-container>
    </td>
    <td></td>
    <td></td>
  </tr>
</ng-template>
